/* .benefits {
} */

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.benefits__item {
    width: 100%;
    // flex-basis: calc((100% - 90px) / 4);
}

.benefits__item-icon-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    // width: 270px;
    height: 120px;
    margin-bottom: 30px;

    background-color: #f5f4fa;
    border-radius: 4px;
}

.benefits__item-title {
    margin-bottom: 10px;

    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);

    @media screen and (max-width:480px) {
        text-align: center;
    }
}

.benefits__item-text {
    line-height: 1.71;
    color: var(--primary-text-color);
}