.close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;

    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .close-btn__icon {
            fill: #2196f3;
        }
}

.close-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}