.examples {
    padding-top: 0;

    @media screen and (max-width: 1199px) {
        display: none;
    }
}

.examples__title {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.examples__list {
    display: flex;
    gap: 30px;
}

.examples__item {
    position: relative;

    flex-basis: calc((100% - 60px) / 3);
}

/* .examples__item-img {
} */

.examples__item-description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    height: 70px;
    padding: 27px 0;

    background: rgba(47, 48, 58, 0.8);

    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--title-text-bright-color);
}