.footer {
    padding: 60px 0;

    background: #2f303a;
}

.footer__container {
    display: flex;
    gap: 70px;
    align-items: baseline;
}

/* .footer__contacts{} */

/* .footer__address{} */

/* .footer__join{} */

.footer__subscription {
    margin-left: auto;
}