.footer {
    padding: 60px 0;

    background: #2f303a;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;

    justify-content: center;

    @media screen and (min-width: 1200px) {
        flex-direction: row;
        align-items: baseline;
    }
}

.footer-contacts-join-wrap{
    display: flex;
    flex-direction: column;
    gap: 60px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        gap: 165px;
        align-items: baseline;
    }

    @media screen and (min-width: 1200px) {
        gap: 94px;
        margin-right: auto;
    }
}

.footer__logo {
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
        margin-bottom: 28px;
        text-align: center;
    }
}

.footer__contacts{
}

.footer__address{
    @media screen and (max-width: 1199px) {
        text-align: center;
    }
}

/* .footer__join{} */

.footer__subscription {
}