.footer {
    padding: 60px 0;

    background: #2f303a;
}

.footer__container {
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    align-items: baseline;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

.footer__logo {
    margin-bottom: 20px;

    @media screen and (max-width: 767px) {
        margin-bottom: 28px;

        text-align: center;
    }
}

.footer__contacts{
}

.footer__address{
    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

/* .footer__join{} */

.footer__subscription {
    margin-left: auto;
}