.hero {
    padding: 118px 0;

    // padding: 200px 0;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    // max-width: 1600px;
    // height: 600px;

    background-color: #c4c4c4;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero__title {
    margin: 0 auto 30px auto;
    max-width: 360px;
    // width: 696px;

    text-align: center;
    font-weight: 900;
    font-size: 26px;
    line-height: calc(42 / 26);
    // font-size: 44px;
    // line-height: 1.36;
    text-transform: uppercase;
    color: var(--title-text-bright-color);
    letter-spacing: 0.06em;
}

.hero__btn {
    margin: 0 auto;
    padding: 10px 32px;
    display: flex;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background: var(--main-btn-color);
    color: var(--main-btn-text);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        background-color: #188ce8;
    }

    &:focus{
        background-color: #188ce8;
    }
}
