.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and(max-width: 479px) {
        padding: 93px 15px;
    }

    @media screen and (max-width: 1199px) {
        overflow-y: scroll;
    }
}

.modal{
    position: relative;

    width: 100%;
    height: 100%;
    height: 609px;

    padding: 40px;

    background-color: #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
            opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        .backdrop.is-hidden &{
            opacity: 0;
            transform: translate(-50%, -50%) perspective(200px) rotateY(0.5turn);
        }

    @media screen and (max-width: 415px) {
        padding: 40px 20px 40px 20px ;
    }  

    @media screen and (max-width: 375px) {
        padding: 40px 10px 40px 10px;
    }

    @media screen and (max-width: 355px) {
        padding: 40px 5px 40px 5px;
    }

    @media screen and (min-width: 480px) {
        position: absolute;
        top: 94px;
        left: 50%;
        transform: translate(-50%);

        width: 450px;
        height: 609px;
    }

    @media screen and (min-width: 1200px) {
        top: 50%;
        transform: translate(-50%, -50%);

        width: 528px;
        max-height: 581px;
    }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
}

.modal__title {
    display: block;

    margin-bottom: 12px;

    font-size: 19px;
    line-height: calc(30 / 20);
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--title-text-color);

    @media screen and (min-width: 480px) {
        font-size: 20px;
    }

    @media screen and (min-width: 1200px) {
        line-height: calc(23 / 20);
    }
}

/* .modal__form {
} */