/* .modal-form{} */

.modal-form__field {
    margin: 0 auto 10px auto;
    position: relative;

    display: flex;
    flex-direction: column;

    &:nth-of-type(4n){
        margin-bottom: 20px;
    }
}

.modal-form__input-wrap {
    position: relative;
}

.modal-form__contact-label {
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
}

.modal-form__input {
    width: 100%;
    height: 40px;
    max-width: 448px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    color: #000000;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--left-padding {
        padding-left: 42px;
    }

    &:hover{
        border-color: #2196f3;
    }

    &:focus{
        border-color: #2196f3;
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-form__input:hover+&{
        fill: #2196f3;
    }

    .modal-form__input:focus+& {
        fill: #2196f3;
    }

    .modal-form__input:not(:placeholder-shown)+& {
        fill: #2196f3;
    }
}

.modal-form__comment {
    resize: none;
    height: 120px;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}

.modal-form__policy {
    margin-bottom: 30px;
}

.modal-form__btn {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px 52px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--main-btn-text);
    text-align: center;

    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover{
        background-color: #188ce8;
    }

    &:focus{
        background-color: #188ce8;
    }
}