.subscription {
    width: 570px;
    // height: 86px;
}

.subscription__title {
    display: block;
    margin-bottom: 20px;

    line-height: calc(16 / 14);
    text-transform: uppercase;
    color: var(--title-text-bright-color);

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.subscription__form {
    display: flex;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: center;
}
}

.subscription__form-input {
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    // margin-right: 12px;

    background-color: inherit;
    outline: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #2f303a;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: #2196f3;
    }

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
        align-items: center;
    
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription__form-btn {
    display: flex;
    padding: 10px 28px;
    align-items: center;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--main-btn-text);
    background-color: var(--main-btn-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #188ce8;
    }
        
    &:focus {
        background-color: #188ce8;
    }
}

.subscription__form-btn-icon {
    margin-left: 10px;
    fill: currentColor;
}