h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px white;
    -webkit-text-fill-color: black;
}