:root {
    --primary-background-color: #ffffff;
    --secondary-background-color: #f5f4fa;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-text-bright-color: #ffffff;
    --logo-color: #2196f3;
    --logo--end-black: #000000;
    --logo--end-white: #ffffff;
    --active-link-color: #2196f3;
    --nav-link-color: #212121;
    --contact-link-color: #757575;
    --main-btn-color: #2196f3;
    --main-btn-text: #ffffff;
    --secondary-btn-color: #f5f4fa;
    --secondary-btn-text: #212121;
}